<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Usuários
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Usuário</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/users/{$user.id_user}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="des_person">Nome</label>
              <input type="text" class="form-control" id="des_person" name="des_person" placeholder="Digite o nome" value="{$user.des_person}">
            </div>
            <div class="form-group">
              <label for="des_login">Login</label>
              <input type="text" class="form-control" id="des_login" name="des_login" placeholder="Digite o login" value="{$user.des_login}">
            </div>
            <div class="form-group">
              <label for="des_password">Senha</label>
              <input type="tel" class="form-control" id="des_password" name="des_password" placeholder="Digite a senha" value="{$user.des_password_show}">
            </div>
            <div class="form-group">
              <label for="nr_phone">Telefone</label>
              <input type="tel" class="form-control" id="nr_phone" name="nr_phone" placeholder="Digite o telefone" value="{$user.nr_phone}">
            </div>
            <div class="form-group">
              <label for="des_email">E-mail</label>
              <input type="email" class="form-control" id="des_email" name="des_email" placeholder="Digite o e-mail" value="{$user.des_email}">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="is_admin" value="1"{if="$user.is_admin == 1"} checked{/if}> Acesso de Administrador
              </label>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->