/vendor/hcodebr/php-classes/src/Model/Mailer.php
/vendor/hcodebr/php-classes/src/Mailer.php
/vendor/hcodebr/php-classes/src/Mailer/
/views-cache/
/views/payment-pagseguro.html
/views/payment-paypal.html
/res/
/Database/