
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Minha Conta</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="profile-menu"}
            </div>
            <div class="col-md-9">
                
                <div class="cart-collaterals">
                    <h2>Meus Pedidos</h2>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Valor Total</th>
                            <th>Status</th>
                            <th>Endereço</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$orders"}
                        <tr>
                            <th scope="row">{$value.id_order}</th>
                            <td>R${function="formatPrice($value.vl_total)"}</td>
                            <td>{$value.des_status}</td>
                            <td>{$value.des_address}, {$value.des_district}, {$value.des_city} - , {$value.des_state} CEP: {$value.des_zip_code}</td>
                            <td style="wid_th:222px;">
                                <a class="btn btn-success" href="/order/{$value.id_order}" role="button">Imprimir Boleto</a>
                                <a class="btn btn-default" href="/profile/orders/{$value.id_order}" role="button">Detalhes</a>
                            </td>
                        </tr>
                        {else}
                        <div class="alert alert-info">
                            Nenhum pedido foi encontrado.
                        </div>
                        {/loop}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>