
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{$user.des_person}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="profile-menu"}
            </div>
            <div class="col-md-9">
                {if="$profile_message != ''"}
                <div class="alert alert-success">
                    {$profile_message}
                </div>
                {/if}
                {if="$profile_error != ''"}
                <div class="alert alert-danger">
                    {$profile_error}
                </div>
                {/if}                
                <form method="post" action="/profile">
                    <div class="form-group">
                    <label for="des_person">Nome completo</label>
                    <input type="text" class="form-control" id="des_person" name="des_person" placeholder="Digite o nome aqui" value="{$user.des_person}">
                    </div>
                    <div class="form-group">
                    <label for="des_email">E-mail</label>
                    <input type="email" class="form-control" id="des_email" name="des_email" placeholder="Digite o e-mail aqui" value="{$user.des_email}">
                    </div>
                    <div class="form-group">
                    <label for="nr_phone">Telefone</label>
                    <input type="tel" class="form-control" id="nr_phone" name="nr_phone" placeholder="Digite o telefone aqui" value="{$user.nr_phone}">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>